.Home,
.pageNotFound,
.welcome,
.noMealMessage {
  text-align: center;
  margin: 10%;
}

.signup,
.login {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

.edit {
  color: blue;
  cursor: pointer;
}

.save {
  color: green;
  cursor: pointer;
}

.delete {
  color: red;
  cursor: pointer;
}

.data-name {
  color: gray;
}

.data-value {
  color: green;
}

.cards-display {
  margin: 16px;
}

.signupLogin {
  margin-top: 2%;
  margin-left: 2%;
}

.foodname {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
}

.cal {
  color: red;
  font-size: large;
}

.desc {
  font-weight: bold;
}

.userNameInFoodCard {
  color: teal;
}
